---
import Layout from "../layouts/Layout.astro";
---
<Layout title="about" page="about">
	<main>
		<h1 class="text-8xl text-ctp-mauve font-black tracking-tight">About me</h1>
		<p class="text-xl text-ctp-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est sint placeat, minima quod temporibus aperiam consequatur rerum incidunt cupiditate excepturi, non ratione voluptatem distinctio ipsam ab, perferendis tenetur dolorem odit.</p>
	</main>
</Layout>