---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home" page="home">
	<main>
		<h1 class="text-8xl text-ctp-mauve font-black tracking-tight">Braxton Fair</h1>
		 <p class="text-xl text-ctp-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est sint placeat, minima quod temporibus aperiam consequatur rerum incidunt cupiditate excepturi, non ratione voluptatem distinctio ipsam ab, perferendis tenetur dolorem odit.</p>
		 <math class="text-ctp-text text-4xl">
			<munder>
			  <mo>∑</mo>
			  <mi>A</mi>
			</munder>
			<munder displaystyle="true">
			  <mo>∑</mo>
			  <mi>A</mi>
			</munder>
			<munder>
			  <mo>∑</mo>
			  <mi scriptlevel="0">A</mi>
			</munder>
		  </math>

		  <svg  class="text-ctp-text" style="font-size: 20px" width="400px" height="220px" viewBox="0 0 200 110">
			<g transform="translate(10,80)">
			  <path d="M 0 0 L 150 0 A 75 75 0 0 0 0 0
					   M 30 0 L 30 -60 M 30 -10 L 40 -10 L 40 0"
					fill="none" stroke="white"></path>
			  <text transform="translate(10,20)" fill="white">1</text>
			  <switch transform="translate(35,-40)">
				<foreignObject width="200" height="50"
							   requiredExtensions="http://www.w3.org/1998/Math/MathML">
				  <math>
					<msqrt>
					  <mn>2</mn>
					  <mi>r</mi>
					  <mo>−</mo>
					  <mn>1</mn>
					</msqrt>
				  </math>
				</foreignObject>
				<text>\sqrt2r - 1</text>
			  </switch>
			</g>
		  </svg>
		  
		  <p class="text-ctp-text">
			Fill the blank:
			<math>
			  <msqrt>
				<mn>2</mn>
				<mtext><input onchange="" size="2" type="text"></mtext>
				<mo>−</mo>
				<mn>1</mn>
			  </msqrt>
			  <mo>=</mo>
			  <mn>3</mn>
			</math>
		  </p>
	</main>
</Layout>