---
import NavbarItem from "./NavbarItem.astro";
const { page } = Astro.props;
---
<nav class="flex justify-between px-8 py-4">
    <div>
        {page !== "home" ?
        <a href="/" class="group transition duration-150 font-bold text-ctp-text text-2xl hover:text-ctp-mauve">
            Braxton Fair
            <span class="block max-w-0 group-hover:max-w-full transition-all h-0.5 bg-ctp-mauve"></span>
        </a> : <a></a>
        }
    </div>
    <div>
        <ul class="flex justify-end text-ctp-text">
            <NavbarItem url="/" title="Home" selected={page === "home"} />
            <NavbarItem url="/about" title="About" selected={page === "about"} />
            <NavbarItem url="/portfolio" title="Portfolio" selected={page === "portfolio"} />
            <NavbarItem url="/notes" title="Notes" selected={page === "notes"} />
            <NavbarItem role="button" url="/" title="Resume" />
        </ul>
    </div>
</nav>
