---
const { page } = Astro.props;
---
<nav class="flex justify-between px-8 py-4">
    <div>
        <a href="/" class="font-bold text-ctp-text text-2xl hover:text-ctp-mauve">Braxton Fair</a>
    </div>
    <div>
        <ul class="flex justify-end text-ctp-text">
            <li class="mr-4"><a href="/" class="font-bold text-xl hover:text-ctp-mauve">Home</a></li>
            <li class="mr-4"><a href="/about" class="font-bold text-xl hover:text-ctp-mauve">About</a></li>
            <li class="mr-4"><a href="/portfolio" class="font-bold text-xl hover:text-ctp-mauve">Portfolio</a></li>
            <li class="mr-4"><a href="/notes" class="font-bold text-xl hover:text-ctp-mauve">Notes</a></li>
        </ul>
    </div>
</nav>
