---
import Navbar from '../components/Navbar.astro';

export interface Props {
	title?: string;
	page: string;
}

const { title = 'welcome', page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="taxborn.com">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`taxborn.com | ${title}`}</title>
	</head>
	<body class="ctp-mocha bg-ctp-base">
		<div class="rounded-full absolute h-5/6 aspect-square -top-44 bg-gradient-radial from-ctp-mauve/10 -z-10"></div>
		<div class="rounded-full absolute h-1/2 aspect-square right-10 top-44 bg-gradient-radial from-ctp-mauve/10 -z-10"></div>
		<Navbar page={page} />		
		<div class="md:container md:mx-auto px-4">
			<slot />
		</div>
	</body>
</html>